<link rel="stylesheet" href="/css/sign-in.css">


<div id="sign-in-form-container">
    <h1>Sign in</h1>
    
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Enter E-mail..." required>
        <input type="password" name="password" placeholder="Enter password..." required>
        <button type="submit">Log in</button>
    </form>
</div>