*{
    margin: 0;
    padding: 0;
}

main{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main::before{
    content: '';
    background: url('../images/josh-appel-NeTPASr-bmQ-unsplash.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}
